<div class="main">
	<div class="container">
		<h1> Welcome to CPU Core Counter</h1>
		<p1> Use the calculator to calculate sequnetial and composite SLA</p1> </br> </br>
		<p2>  <a href="https://docs.microsoft.com/en-us/azure/virtual-machines/acu"> Link to VCPU </p2>
	</div>
</div>