<div class="main">
	<div class="container">
		<h1> Welcome to CPU Core Counter</h1>
	 	<%= @symbol %> </br>
	 

		<p1> Use the calculator to calculate sequnetial and composite SLA</p1> </br> </br>
	 	
		
	</div>
</div>