<div class="main">
	<div class="container">
		<h1> Hello This is Krishna</h1>
		<p1> I make Rails app </p1>
	 
		<p1> Test  <%= @nums_1 + 1 %> </p1>
		<%= form_tag home_about_path, :method => 'POST' %>
		<p1> This is a check box <%= check_box_tag(:pet_dog) %>  
		<p1> ---> <%= @check_box1   %> <--- >
	</div>
</div>